@font-face {
    font-family: 'Broadway';
    src: url("BROADW.TTF");
}
@font-face {
    font-family: 'Anton';
    src: url("Anton-Regular.ttf");
}
@font-face {
    font-family: 'Britannic';
    src: url("BRITANIC.TTF");
}
@font-face {
    font-family: ebrima;
    src: url("ebrima.ttf");
}
