@font-face {
    font-family: 'Broadway';
    src: url("includes/BROADW.TTF");
}
@font-face {
    font-family: 'Anton';
    src: url("includes/Anton-Regular.ttf");
}
@font-face {
    font-family: 'Britannic';
    src: url("includes/BRITANIC.TTF");
}
@font-face {
    font-family: ebrima;
    src: url("includes/ebrima.ttf");
}